<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
   <!--  <style type="text/css">
        
        .razorpay-payment-button{
            color: white;
            height: 30px;
            width: 300px;
            background: green;
            margin-top: 200px;
            margin-left: 500px;
            text-shadow: 10px;
        }
    </style> -->

</head>
<body onLoad="document.getElementsByClassName('.razorpay-payment-button').click();">
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Menlygroom</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <!-- add icon link -->
    <link rel="icon" href="https://img.icons8.com/plumpy/100/000000/circled-m.png" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>

<body class="goto-here">
    <div class="py-1 bg-black">
        <div class="container">
            <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
                <div class="col-lg-12 d-block">
                    <div class="row d-flex">
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span
                                    class="icon-phone2"></span></div>
                            <span class="text">8200324594</span>
                        </div>
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span
                                    class="icon-paper-plane"></span></div>
                            <span class="text">menlygroom@email.com</span>
                        </div>
                        <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                            <span class="text">3-5 Business days delivery &amp; Free Returns</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">Menlygroom</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Shopping</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="/shop/3">Beard</a>
                            <a class="dropdown-item" href="/shop/4">Body</a>
                            <a class="dropdown-item" href="/shop/5">Face</a>
                            <a class="dropdown-item" href="/shop/6">Hair</a>
                            <a class="dropdown-item" href="/shop/7">Shave</a>
                            <a class="dropdown-item" href="/shop/8">Fragrance</a>
                            
                        </div>
                    </li>
                    <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="{% url 'blog' %}" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
                    <li class="nav-item"><a href="{% url 'trackorder' %}" class="nav-link">trackorder</a></li>

                    {% if request.user %}
                    <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
                    {% else %}
                    <li class="nav-item"><a href="{% url 'register' %}" class="nav-link">Register</a></li>
                    <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login</a></li>
                    {% endif %}

                    <li class="nav-item cta cta-colored"><a href="{% url 'cart' %}" class="nav-link"><span
                                class="icon-shopping_cart"></span>{{count}}</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->



<form action="/success/{{response.order_id}}/" method="POST" id="member_signup">
    <script
        src="https://checkout.razorpay.com/v1/checkout.js"
        data-key="rzp_test_FajQFRRkHwQVGd"
        data-amount={{response.amount}}
        data-currency={{response.currency}}
        data-order_id={{response.id}}
        data-buttontext="Are you Sure "
        data-name="ILoveDjango3000"
        data-description=""
        data-image=""
        data-prefill.name={{request.user.username}}
        data-prefill.email={{request.user.email}}
        data-theme.color="#f051e3"
    ></script>
    <input type="hidden" custom="Hidden Element" name="hidden">
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(window).on('load', function() {
     jQuery('.razorpay-payment-button').hide();

     jQuery('.razorpay-payment-button').click();
     jQuery('#member_signup').submit();

    });
  </script>

</body>
</html>